body{

    margin: 0;
}

.header {

    background-color: royalblue;
    height: 10px;
    font-size:40px;
    color: red;
    padding:40px;
}

.todoform {
    width: 300%;
    margin: 30px;
    margin-top: 20px;
}

.todoinput{
    width:100%;
    border: none;
    border-bottom:1px solid whitesmoke;
    height: 45px;
    text-align: center;
    font-size: 1.3rem;  

    
}
.todobutton{

    width:30%;
    border:none;
    height:60px;
    background-color: rgb(11, 11, 11);
    font-size: 1rem;
    margin: 3rem;

}
